.home 
{
    background-color: #0f0e17;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.home-logo i
{
    color: #ff8906;
    font-size: 8em;
    margin: 30px;
}

.home-heading
{
    display: flex;
    flex-direction: column;
    
    z-index: 10;
}

.home-heading h3 {
    color: #e53170;
    font-size: 1.25rem;
    align-self: flex-start;
    
}
.home-name
{
    font-size: 3em;
    color: #f25f4c;
    letter-spacing: 3px;
    font-weight: bold;
    
}
.home-role 
{
    display: flex;
    flex-direction: row;
    font-size: 2em;
    color: #a7a9be;
    letter-spacing:2px;
    align-items: center;
}
.home-role i
{
    padding: 0 10px;
}


.home-quali
{
    padding: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.home-quali-sub
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation-name: qualisub;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.home-quali-sub p
{
    transform: translateY(-10px);
}

@keyframes qualisub
{
    0% {
        transform: translateY(0);
    }
    12.5% {
        transform: translateY(-25%);
    }
    25% {
        transform: translateY(-50%);
    }
    37.5% {
        transform: translateY(-75%);
    }
    50% {
        transform: translateY(-75%);
    }
    62.5% {
        transform: translateY(-50%);
    }
    75% {
        transform: translateY(-25%);
    }
    87.5% {
        transform: translateY(0);
    }

}