.home 
{
    background-color: #0f0e17;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.home-logo i
{
    color: #ff8906;
    font-size: 6em;
    margin: 20px;
}

.home-heading
{
    display: flex;
    flex-direction: column;
    
    z-index: 10;
}

.home-heading h3 {
    color: #e53170;
    padding: 5px;
    align-self: flex-start;
    
}
.home-name
{
    font-size: 3em;
    color: #f25f4c;
    letter-spacing: 3px;
    font-weight: bold;
    
}
.home-role 
{
    display: flex;
    flex-direction: row;
    font-size: 2em;
    color: #a7a9be;
    letter-spacing:2px;
    align-items: center;
}
.home-role i
{
    padding: 0 10px;
}
.contact-links
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
    bottom: 0;
    right: 0;
}
.contact-links a
{
    text-decoration: none;
    color: #a7a9be;
    padding: 15px 10px;
    font-size: 1em;
    transform: scale(1);
    transition: all 0.25s linear;
}
.contact-links span
{
    height: 150px;
    width: 2px;
    background-color: #a7a9be;
    border-radius: 5px;


}
.contact-links a:hover
{
    color: #fffffe;
    transform: scale(1.3);

}