.experience
{
    width: 95vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fffffe;
    padding-top: 100px;
    overflow-y: hidden;
}

.experience h1 
{
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: .15em;
    margin-bottom: 50px;
    color: #0f0e17;
    font-weight: bold;
}
.experience-stem
{
    width: 5px;
    height: 120vh;
    background-color: #0f0e17;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.experience-dot-one
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    z-index: 1;
}
.experience-dot-two
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    z-index: 1;
}

.experience-dot-three
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 580px;
    z-index: 1;
}

.experience-dot-small
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f25f4c;
    opacity: 0.9;
}

.experience-1
{
    width: 500px;
    height: 320px;
    background-color: #0f0e17;
    z-index: 1;
    position: absolute;
    top: -5px;
    right: 75px;
    border-radius: 10px;
    padding: 20px;
}

.experience-1-head
{
    color: #fffffe;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;

}
.experience-1-company
{
    color: #a7a9be;
    font-size: 20px;
    letter-spacing: 1px;
}
.experience-1-location
{
    color: #a7a9be;
    font-size: 16px;
    letter-spacing: 1px;

}
.experience-1-time
{
    color: #a7a9be;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;

}
.experience-1-time span
{
    background-color: #a7a9be;
    color: #0f0e17;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}
.experience-1 ul
{
    padding: 10px;
    list-style: disc inside;
    font-size: 14px;

}
.experience-1 ul li
{
    color: #a7a9be;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    z-index: 1;
    text-align: justify;

}

.experience-1::after
{
    content: "";
    width: 100px;
    height: 100px;
    background-color: #0f0e17;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%)  rotate(50deg);
    z-index: -1;
}

.experience-2
{
    width: 500px;
    height: 320px;
    background-color: #0f0e17;
    z-index: 1;
    position: absolute;
    top: 145px;
    left: 75px;
    border-radius: 10px;
    padding: 20px;
}

.experience-2 ul
{
    padding: 10px;
    list-style: disc inside;
    font-size: 14px;

}
.experience-2 ul li
{
    color: #a7a9be;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    z-index: 1;
    text-align: justify;

}
.experience-2::after
{
    content: "";
    width: 100px;
    height: 100px;
    background-color: #0f0e17;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%)  rotate(-50deg);
    z-index: -1;
}

.experience-3
{
    width: 500px;
    height: 350px;
    background-color: #0f0e17;
    z-index: 1;
    position: absolute;
    top: 425px;
    right: 75px;
    border-radius: 10px;
    padding: 20px;
}

.experience-3 ul
{
    padding: 10px;
    list-style: disc inside;
    font-size: 14px;

}
.experience-3 ul li
{
    color: #a7a9be;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    z-index: 1;
    text-align: justify;

}
.experience-3::after
{
    content: "";
    width: 100px;
    height: 100px;
    background-color: #0f0e17;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%)  rotate(-50deg);
    z-index: -1;
}

@media (max-width: 414px)
{
    .experience h1 
    {
        font-size:32px;
        margin-bottom: 10px;
    }
    .experience
    {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        margin-bottom: 60px;
        overflow-y: scroll;

    }
    .experience-stem{
        background-color: transparent;
        height: 800px;
    }
    .experience-dot-one, .experience-dot-two, .experience-dot-three
    {
        display: none;
    }   
    .experience-1
    {
        width: 250px;
        margin-top: 30px;
        top: 0;
        right: -120px;
        height: auto;
    }
    .experience-1::after
    {
       display: none;
    }
    .experience-1-head
    {
        font-size:18px;
    }
    .experience-2
    {
        width: 250px;
        margin-top: 30px;
        height: auto;
        left: -125px;
        top: 400px;
    }
    .experience-2::after
    {
        display: none;

    }
    .experience-1-company
    {
        font-size: 16px;
    }
    .experience-1-location
    {
        font-size: 12px;
    }
    .experience-1 ul li
    {
        font-size: 10px;
    }
    .experience-2 ul li
    {
        font-size: 10px;
    }
    .experience-3
    {
        width: 250px;
        margin-top: 30px;
        height: auto;
        left: -125px;
        top: 800px;
    }
    .experience-3::after
    {
        display: none;

    }
    .experience-3 ul li
    {
        font-size: 10px;
    }
}

@media (min-width: 420px) and (max-width: 1100px)
{

    .experience-stem
    {
        background-color: transparent;

    }
    .experience-dot-one, .experience-dot-two, .experience-dot-three
    {
        display: none;
    }  
    .experience-1
    {
        top: 0%;
        left: 50%;
        transform: translateX(-50%);

    }
    .experience-2
    {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    } 
    .experience-3
    {
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    } 
    .experience
    {
        margin-bottom: 0;
    }
}